[Desktop Entry]
Name=GitHub
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/GitHub/GitHub.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
